body {
  background-color: grey;
}
.bloc {
  max-width: 1100px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: aliceblue;
  height: 100px;
  width: 100%;
  background-color: #333333;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  width: auto;
  padding: 60px 100px 60px 100px;
}

.job {
  display: flex;
  font-size: 15px;
  width: 250px;
  height: 250px;
  margin: 0 20px 50px 0;
  background-color: white;
  /* border: 5px solid black; */
}

.job:nth-child(1) {
  border: 8px solid red;
}
.job:nth-child(6) {
  border: 8px solid red;
}
.job:nth-child(2) {
  border: 8px solid #3ea535;
}
.job:nth-child(7) {
  border: 8px solid #3ea535;
}
.job:nth-child(3) {
  border: 8px solid yellow;
}
.job:nth-child(8) {
  border: 8px solid yellow;
}
.job:nth-child(4) {
  border: 8px solid #039fe3;
}
.job:nth-child(9) {
  border: 8px solid #039fe3;
}
.job:nth-child(5) {
  border: 8px solid #f8c5af;
}

.boxs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headBox {
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 30px;
  padding-right: 10px;
}

.endBox {
  display: flex;
  gap: 15px;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  background-color: #c4c4c4;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.end p span {
  font-weight: bold;
}

/* responsive ------------------------------------- */

@media (max-width: 1087px) {
  .job {
    display: flex;
    width: 100%;
    font-size: 15px;
    height: 250px;
    margin: 0 20px 50px 0;
    background-color: white;
    /* border: 5px solid black; */
  }
}
